{{template "/model/head.html" .}}
<div class="container-fluid  main-container">
	<div class="row">
		{{template "/model/menu.html" .}}
		<div class="page-content" style="margin-left: 260px;">
			<div class="c-main-tit">
				<ol class="breadcrumb">
					<li>
						<a class="section">文章管理</a>
					</li>
					<li>
						<a class="section" href="">添加</a>
					</li>
				</ol>
			</div>
			
			<div class="form-horizontal" style="margin-top:20px;">
			
				<div class="col-md-8">
					<div class="form-group">
						<label class="col-md-2 control-label">文章标题：</label>
						<div class="col-md-4">
							<input class="form-control"  id="title" type="text" value="" />
						</div>
					</div>
					
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="col-md-2 control-label">文章简介：</label>
						<div class="col-md-4">
							<input class="form-control"  id="jianjie" type="text" value="" />
						</div>
					</div>
					
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="col-md-2 control-label">文章内容：</label>
						<div class="col-md-8">
							<textarea class="form-control" style="height:400px;"  id="content" type="text" value="" ></textarea>
						</div>
					</div>
<!--					#####-->

					<div class="form-group" role="document">
						<label class="col-md-2 control-label">添加图片：</label>
						<div class="col-md-10" id="ss">
							<form action="" id="ContentForm" method="post" enctype="multipart/form-data" class="form-horizontal">
						<!--待添加内容-->
							</form>						
						</div>
					</div>
					
					<div class="form-group">
					<label class="col-md-2 control-label">所属分类：</label>
					<div class="col-md-2">

						<div class="gpick pr">
							<span id="addobjectButton" class="select-text" value="">请选择</span>
							<span class="c-caret" style="right: 7px;"></span>
							<ul class="vertical-nav pa ul1" style="display: none;top: 32px;left: -1px;">
								
									
							</ul>
						</div>
					</div>
					
				

<!--##########-->
					<div class="form-group">
						<label class="col-md-2 control-label"></label>
						<div class="col-md-1">
							<input  value="添加" onclick="articleadd()" class="btn btn-primary">
						</div>
					</div>
			 		
				</div>
				
			</div>
			
			
		</div>
	</div>
	
</div>
<input id="cid" type="hidden" value=""/>
<input id="pid" type="hidden" value=""/>
<input id="uid" type="hidden" value="{{$.userid}}" />
<script type="text/javascript">
var str = '<div class="tab-content zs_two">' +
			'<form id="upload_files" method="post" enctype="multipart/form-data">' +
			'<input type="file" name="file[]" id="filer_input" data-jfiler-uploadUrl="" multiple></form></div>';
var $cont = $(str);
		$('#ss').html($cont);
	//上传
		$('#filer_input').filer({
			
			showThumbs: true,
			/*只有扩展名为xslx的文件可以上传*/
			extensions: null,
			uploadFile: {
				url: "/index/picadd",
				data: {},
				type: 'POST',
				enctype: 'multipart/form-data',
				//              beforeSend: function(){},
				success: function(data, el) {
					$('#tb tr:gt(0)').remove(); //删除之前的数据
					var ok;
					if(data.success) {
						ok = "上传成功";
						$("#pid").val(data.msg);
					} else {
						ok = "上传失败：" + data.errmsg
					}
					//生成导入信息
					// var s = '';
					// s += '<tr><td>' + data.success + '</td><td></td><td></td>' +
					// 	'<td></td></tr>';
					// $('#tb tbody').append(s);
					//如果有失败条数自动生成表格
					// if(data.data.ErrCount != 0) {
					// 	$('#tbb tr:gt(0)').remove(); //删除之前的数据
					// 	var sb = '';
					// 	for(var i = 0; i < data.data.ErrInfo.length; i++) {
					// 		sb += '<tr><td>' + eval(i + 1) + '</td><td>' + data.data.ErrInfo[i].Objname + '</td><td>' + data.data.ErrInfo[i].Info + '</td>' +
					// 			'<td>' + data.data.ErrInfo[i].Time + '</td></tr>';
					// 	}
					// 	$('#tbb tbody').append(sb);
					// }
					var parent = el.find(".jFiler-jProgressBar").parent();
					el.find(".jFiler-jProgressBar").fadeOut("slow", function() {
						if(data.success) {
							$("<div class=\"jFiler-item-others text-success\"><i class=\"icon-jfi-check-circle\"></i>"+ok+"</div>").hide().appendTo(parent).fadeIn("slow");
							 $(".text-success").css({
								"position":"absolute",
								"top":"-55px",
								"left":"420px"
							});
						} else {
							console.log(data.errmsg);
							$("<div class=\"jFiler-item-others text-error\" style=\"color:#e92322;\"><i class=\"icon-jfi-minus-circle\"></i>"+ok+"</div>").hide().appendTo(parent).fadeIn("slow");
							$(".text-error").css({
								"position":"absolute",
								"top":"-19px",
								"left":0
							});
						}
					});
					console.log(data);
				},
				error: function(el) {
					var parent = el.find(".jFiler-jProgressBar").parent();
					el.find(".jFiler-jProgressBar").fadeOut("slow", function() {
						$("<div class=\"jFiler-item-others text-error\"><i class=\"icon-jfi-minus-circle\"></i> 上传失败</div>").hide().appendTo(parent).fadeIn("slow");
					});
				},
				statusCode: null,
				onProgress: null,
				onComplete: null
			},
		});
function articleadd(){
	var title=$("#title").val();
	var content=$("#content").val();
	var pid=$("#pid").val();
	var uid=$("#uid").val();
	var cid=$("#cid").val();
	var jianjie=$("#jianjie").val();
	if (title==""){
		alert("文章标题不能为空!");
		return false;
	}else if(jianjie==""){
		alert("文章简介不能为空!");
		return false;
	}else if(content==""){
		alert("文章内容不能为空!");
		return false;
	}else if(pid==""){
		alert("非法操作!");
		return false;
	}else if(uid==""){
		alert("非法操作!");
		return false;
	}else if(cid==""){
		alert("文章所属分类不能为空!");
		return false;
	}else{
		$.ajax({
				url: "/index/artaddajax",
				type: 'POST',
				dataType: "json",
				data: {
					title:title,
					content:content,
					jianjie:jianjie,
					pid:pid,
					uid:uid,
					cid:cid,
				},
				async: false,
				success: function(data) {
					if(data.success) {
						alert(data.msg);
						location.reload();
						
					} else {
						alert(data.errmsg);
					}
				},
				error: function() {
					alert("文章添加失败，请稍后再试！");
				}
			});/**/
	}
}





$.ajax({
				url: "/index/catemodel",
				type: 'GET',
				dataType: "json",
				data: {
					
					
				},
				async: false,
				success: function(data) {
					if(data.success) {
						if (data.data==null){
							
							return false;
						}
						Addbq(data.data);
						
						
					} else {
						alert(data.errmsg);
					}
				},
				error: function() {
					alert("分类获取失败，请稍后再试！");
				}
			});/**/
			//
	function Addbq(data){
		var $a=[];
		for(i=0;i<data.length;i++){
			
			$b='<li  id='+data[i].id+' class='+data[i].pid+'><a onclick=xzbq("'+data[i].name+'",'+data[i].id+','+data[i].pid+');>'+data[i].name+'</a><ul></ul></li>';
			$a.push($b);
			if ($($a[i]).attr("class")==-1){
				$(".pa").append($a[i]);
			}
		}
		for(i=0;i<data.length;i++){
			//var id=$($a[i]).attr("id");
			var pid=$($a[i]).attr("class");
			if(pid!=-1){
				for(j=0;j<data.length;j++){
					if( $(($a[j])).attr("id") == pid ){
						var $c="#"+$(($a[j])).attr("id")+">ul";
						$($c).append($a[i]);
					}
				}
			}
		}
		//for(i=0;i<data.length;i++){
			//$(".pa").append($a[i]);
		//}
	}
	
	
	
	/*二级下拉菜单*/
		$(".vertical-nav").verticalnav({});

		/*二级下拉菜单显隐藏*/
		$('#addobjectButton').click(function(e) {
			if($('.vertical-nav').is(":hidden")) {
				$('.vertical-nav').show();
				console.log(1);
			} else {
				$('.vertical-nav').hide();
				console.log(2);
			}
			e.stopPropagation();
			$(document).click(function() {
				$('.vertical-nav').hide();
			});
		});
		//为三级菜单加上右箭头
		$(".vertical-nav>li").children('ul:has(li)').each(function() {
			$(this).siblings('a').append($('<span class="glyphicon glyphicon-menu-right" style="position: absolute;right: 4px;top: 12px;"></span>'));
			$(this).find('li').children('ul:has(li)').each(function() {
				$(this).siblings('a').append($('<span class="glyphicon glyphicon-menu-right" style="position: absolute;right: 4px;top: 12px;"></span>'));
			});
		});
		$('.c-menu-item:eq(0)').find('.sub-menu .sub-menu-item:eq(0) a').addClass('menu-cover');
function xzbq(name,id,pid){
	$("#addobjectButton").text(name);
	$("#cid").val(id);
	
	
}
</script>
</body>

</html>