{{template "/model/head.html" .}}
<div class="container-fluid  main-container">
	<div class="row">
		{{template "/model/menu.html" .}}
		<div style="float:left;margin-left:30px;">
			<div style="margin:0 auto;width:1380px;" id="piclist">
			{{range $k,$v:=$.pics}}
				<div style="border-radius:5px;border:5px #9e9e9e solid;float:left;margin-right:20px;margin-top:20px;position:relative;" id="{{$v.Id}}"><input class="che" type="checkbox" style="position:absolute;right:0;top:0;margin:0;width:20px;height:20px;"/><img style="width:200px;height:200px;" src="{{$v.Url}}"/></div>	
			{{end}}
				<div style="clear:both;"></div>	
			</div>
			<div class="form-group" style="padding-left:0px;margin-top:100px;">
				<input  value="保存设置" onclick="baocun();" class="btn btn-primary">
							
			</div>
		</div>
	</div>
	
</div>
<!--删除模态框-->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">删除</h4>
			</div>
			<div class="modal-body">
				<p>确定删除该记录吗？</p>
			</div>
			<div class="modal-footer">
				<div class="btn btn-success" id="J-btn-del">确定</div>
				<div class="btn btn-default" data-dismiss="modal">取消</div>
			</div>
		</div>
	</div>
</div>
<input type="hidden" id="oldids" value="{{$.oldids}}"/>
<script type="text/javascript">
$("#piclist").delegate(".che","click",function(){
	
	if ($(this).attr("checked")=="checked"){
	
		$(this).attr("checked",false);
	}else{
		$(this).attr("checked","checked");
	}
	
});
function baocun(){
	ids=""
	$('input:checkbox').each(function(){
		if ($(this).attr('checked')=="checked"){
			ids=ids+";"+$(this).parent().attr("id");
		}
	});
	ids=ids.substring(1,ids.Length);
	idss=$("#oldids").val();
	idsarr=ids.split(";");
	oidsarr=idss.split(";")
	delids="";
	for (i=0;i<oidsarr.length;i++){
		ok=false
		for(j=0;j<idsarr.length;j++){
			if(oidsarr[i]==idsarr[j]){
				ok=true
			}
		}
		if (!ok){
			delids=delids+";"+oidsarr[i]
		}
	}
	delids=delids.substring(1,delids.Length);
	
	$.ajax({
		
				url: "/index/szlbpic",
				type: 'POST',
				dataType: "json",
				data: {
					ids:ids,
					delids:delids,
			},
				async: false,
				success: function(data) {
					if(data.success) {
						alert(data.msg);
						location.reload();
						
					} else {
						alert(data.errmsg);
					}
				},
				error: function() {
					alert("设置失败，请稍后再试！");
				}
			});/**/
}	
////////
$('input:checkbox').each(function(){
		idsstr=$("#oldids").val()
		ids=idsstr.split(";");
		id=$(this).parent().attr("id");
		ok=false
		for (i=0;i<ids.length;i++){
			
			if (ids[i]==id){
				
				ok=true
			}
		}
			if (ok){
				$(this).attr("checked","checked");
			}else{
				$(this).attr("checked",false);
			}
		
	});
</script>
</body>

</html>