{{template "/model/head.html" .}}
<div class="container-fluid  main-container">
	<div class="row">
		{{template "/model/menu.html" .}}
		
		<div class="page-content" style="margin-left: 260px;">
			<div class="form-horizontal" style="margin-top:20px;">
				
				 <video id="example_video_1" class="video-js vjs-default-skin" controls width="640" height="264">
 				<source src="rtmp://localhost:1935/live1/sss" type='rtmp/mp4' />
				</video>  
			</div>	
		</div>	
		
		
	</div>
	
</div>
<!--删除模态框-->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="gridSystemModalLabel">删除</h4>
			</div>
			<div class="modal-body">
				<p>确定删除该记录吗？</p>
			</div>
			<div class="modal-footer">
				<div class="btn btn-success" id="J-btn-del">确定</div>
				<div class="btn btn-default" data-dismiss="modal">取消</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">

	
</script>
</body>

</html>