<div class="page-sidebar">
		<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>用户管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/user">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>用户信息
					</a>
				</div>
			</div>
		</div>
		<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>文章管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/article">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>查看文章
					</a>
					
				</div>
				<div class="sub-menu-item">
					<a href="/index/articleadd">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>添加文章
					</a>
					
				</div>
			</div>
			<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>分类管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/cateAdd">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>添加分类
					</a>
				</div>
				<div class="sub-menu-item">
					<a href="/index/delcatepage">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>删除分类
					</a>
				</div>
			</div>
		</div>
		<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>图片管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/lbpic">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>轮播图册
					</a>
				</div>
				<div class="sub-menu-item">
					<a href="/index/piclist">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>图片列表
					</a>
				</div>
			</div>
			
			<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>音乐管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/musicaddpage">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>添加音乐
					</a>
				</div>
			</div>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/music">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>音乐列表
					</a>
				</div>
			</div>
			
		</div>
		<!--####-->

		<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>直播管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/liveaddpage">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>申请直播
					</a>
				</div>
			</div>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/myliveinfo">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>我的直播
					</a>
				</div>
			</div>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/livehall">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>直播大厅
					</a>
				</div>
			</div>
		</div>
<!--####-->
<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>礼物管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/addgiftpage">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>添加礼物
					</a>
				</div>
			</div>
			
		</div>
<!--####-->

		<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>视频管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/videoadd">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>上传视频
					</a>
				</div>
			</div>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/video">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>视频列表
					</a>
				</div>
			</div>
		</div>
<!--####-->
<!--####-->

		<div class="c-menu-item">
			<a class="tit">
				<span class="glyphicon glyphicon-th-list pr10"></span>文件管理
			</a>
			<div class="sub-menu">
				<div class="sub-menu-item">
					<a href="/index/fileadd">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>上传文件
					</a>
				</div>
				<div class="sub-menu-item">
					<a href="/index/filelist">
						<span class="glyphicon glyphicon-menu-hamburger pr5"></span>文件列表
					</a>
				</div>
			</div>
		</div>
<!--####-->
		</div>
		</div>
</div>